
<div class="container">


  <h3>Mahesh J</h3>


  <div class="folder" *ngFor="let folder of data">
    <div class="folder-header">{{folder.name}}</div>
    <ul class="folder-body">
      <li *ngFor="let bookmark of folder.bookmarks">
        <a href="{{bookmark.href}}">{{bookmark.name}}</a>
      </li>
    </ul>
  </div>


  <!--<ul class="heroes">
    <li *ngFor="let folder of data">
      <a routerLink="/detail/{{hero.id}}">
        <span class="badge">{{hero.id}}</span> {{hero.name}}
      </a>

      <button class="delete"
              title="delete hero"
              (click)="delete(hero)">
        x
      </button>
    </li>
  </ul>-->
</div>
