


<div class="bkmrk-folder" ng-repeat="folder in $ctrl.folders">
    <div id="bk_{{folder.title}}" class="bkmrk-folder-header">{{folder.title}}</div>
    <ul class="bkmrk-folder-body">
        <li ng-repeat="bookmark in folder.bkmrks" ng-switch on="bookmark.type" class="{{bookmark.type}}">
            <text ng-switch-when="separator">&nbsp;</text>
            <a ng-switch-when="multi-urls" href="" ng-click="$ctrl.openMultiUrls(bookmark.urls);">{{bookmark.title}}</a>
            <a ng-switch-default ng-href='{{bookmark.url}}'>{{bookmark.title}}</a>
            <span ng-if="bookmark.note" class="bkmrk-note">{{bookmark.note}}</span>
        </li>
    </ul>
</div>
