# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.suo
/.vs/config/applicationhost.config

/bower_components/angular/*
!/bower_components/angular/angular*.*

/bower_components/angular-route/*
!/bower_components/angular-route/angular*

/bower_components/angular-mocks/*
!/bower_components/angular-mocks/angular*

/bower_components/bootstrap/*
!/bower_components/bootstrap/dist

/bower_components/jasmine-core/*
!/bower_components/jasmine-core/lib
/bower_components/jasmine-core/lib/*
!/bower_components/jasmine-core/lib/jasmin-core

/bower_components/jquery/*
!/bower_components/jquery/dist



