<div class="jmj-container">
  <div class="zcontainer-fluid app-3-content">
    <dl class="dl-horizontal">
      <ng-container *ngFor="let folder of data">
        <br />
        <dt id="bk_{{folder.title}}" class="text-danger">
          {{folder.title}}
        </dt>
        <dd>
          <div *ngFor="let bookmark of folder.bkmrks " [ngSwitch]="bookmark.type" class="col-xs-3">

            <a *ngSwitchCase="'multi-urls'"
               href=""
               (click)="openMultiUrls(bookmark.urls);">
              {{bookmark.title}}
            </a>

            <a *ngSwitchDefault [href]="bookmark.url">{{bookmark.title}}</a>

            <em *ngIf="bookmark.note" class="small text-muted">
                {{bookmark.note}}
            </em>
          </div>

        </dd>
      </ng-container>
    </dl>
  </div>
</div>
