
<nav class="navbar navbar-inverse navbar-fixed-top app-3-menu">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">JayeshMJ Favs</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          Menu
          <span class="caret"></span>
        </a>
        <ul class="dropdown-menu app-scrollable-menu">
          <li>
            <a *ngFor="let folder of data"
               class="bg-success"
               [routerLink]="['/jmj']"
               fragment="bk_{{folder.title}}">
              {{folder.title}}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

