

<div class="zcontainer-fluid app-3-content">
    <dl class="dl-horizontal">
        <ng-repeat ng-repeat="folder in $ctrl.folders">
            <br />
            <dt id="bk_{{folder.title}}" class="text-danger">
                {{folder.title}}
            </dt>
            <dd>
                <div ng-repeat="bookmark in folder.bkmrks | filter: {type: '!separator'} " ng-switch on="bookmark.type" class="col-xs-3">
                    <!--<text ng-switch-when="separator">&nbsp;</text>-->
                    <a ng-switch-when="multi-urls" href="" ng-click="$ctrl.openMultiUrls(bookmark.urls);">{{bookmark.title}}</a>
                    <a ng-switch-default ng-href="{{bookmark.url}}">
                        {{bookmark.title}}
                    </a>
                    <em><span ng-if="bookmark.note" class="small text-muted" ng-bind="bookmark.note" /></em>
                </div>
                <!--<ul class="list-unstyled">
                    <li ng-repeat="bookmark in folder.bkmrks" ng-switch on="bookmark.type">
                        <text ng-switch-when="separator">&nbsp;</text>
                        <a ng-switch-when="multi-urls" href="" ng-click="$ctrl.openMultiUrls(bookmark.urls);">{{bookmark.title}}</a>
                        <a ng-switch-default ng-href="{{bookmark.url}}">
                        {{bookmark.title}}
                    </a>
                        <span ng-if="bookmark.note" class="text-muted" ng-bind="bookmark.note" />
                    </li>
                </ul>-->
            </dd>
        </ng-repeat>
    </dl>
</div>


