body {
    font-size: 14.0pt;
    font-family: "Calibri", "Cambria", "Verdana", "sans-serif";
}

.app-scrollable-menu {
    height: auto;
    max-height: 90vh; /*200px;*/
    overflow-x: hidden;
}

.app-folder-header {
    margin-bottom:50px;
}

.bkmrk-menu {
    position: fixed;
    right: 0;
    top: 0;
    /*width:10em;*/
    border: solid 1px gainsboro;
    background-color: lightyellow;
    color: darkred;
    word-wrap: break-word;
    z-index: 9999;
}

    .bkmrk-menu:hover {
        height: 90%;
    }

    .bkmrk-menu .bkmrk-menu-header {
        text-align: center;
        font-size: 12pt;
        font-weight: bold;
        color: lightyellow;
        background-color: darkred;
        padding: .5em;
        margin: 0;
    }

    .bkmrk-menu:hover ul {
        display: block;
    }

    .bkmrk-menu ul {
        display: none;
        height: 95%;
        list-style: none;
        margin: 0;
        overflow-y: auto;
        padding: 0.25em;
    }

    .bkmrk-menu li {
        margin: 0.25em 1em;
        white-space: nowrap;
        /*font-size: 12pt;
        font-weight: bold;*/
        text-transform: uppercase;
    }

        .bkmrk-menu li:hover a {
            color: darkred;
            font-weight: bold;
            font-style: italic;
            text-decoration: none;
        }

    .bkmrk-menu a {
        color: darkred;
    }


    /* not used in NEW boostrap layout because of float*/
.bkmrk-folder {
    padding-left: 1em;
    float: left;
    max-width: 20%;
    /*width:15em;*/
}

.bkmrk-folder-header {
    font-weight: bold;
    padding: 0.25em;
    background-color: darkcyan;
    color: white;
    text-transform: uppercase;
}

.bkmrk-folder-body {
    padding: 0.25em;
    /*list-style-type: none;*/ /* list style help ti distinguish when long line wraps*/
    /*height:15em;
            overflow:auto;*/
}

    .bkmrk-folder-body li:hover {
        /*background-color: darkcyan;*/
    }

        .bkmrk-folder-body li:hover a {
            /*color: white;*/
            font-weight: bold;
            font-style: italic;
            text-decoration: none;
        }

    .bkmrk-folder-body a {
        color: darkcyan;
        font-weight: normal;
    }

li.separator {
    list-style-type: none;
}


.bkmrk-note {
    color: darkgray;
    /*font-style:italic;*/
    font-family: Calibri;
    font-size: 12pt;
    /*padding-left: 2em;*/
    word-wrap: normal;
}
